body{
    font-family: 'Poppins', sans-serif;
   
}
h1{
    color:#575757;
    font-size: 40px;
    
}
.orangeColor{
    color: orange;
}
.linkBtn{
    background-image: linear-gradient(45deg, #FBA24F, #FF1E1E);
    text-decoration: none;
    color: #FFFFFF;
    border-radius: 100px;
    padding: 10px;
}
.halfWidth{
    width:50% ;
}
.halfWidth h2{
    margin-top: 300px;
}
.orderSection img{
    width: 70%;
}
.orderSection{
    display: flex;
    margin-bottom: 200px;
}
.aboutSection{
    background-image: url(images/background/Frame\ 56.jpg);
    background-repeat: no-repeat;
    display: flex;
    margin-bottom: 200px;
    
    
}
.aboutSection img{
    width: 50%;
}
.recipieSection{
    text-align: center;
}

.foodSection{
    display: flex;
    
    margin: 2%;
}
.foodSection img{
    width: 100%;
    
}
.recipie{
    text-align: center;
    margin: 2%;
    padding: 2%;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 10px rgb(183, 181, 181);

}
.rankingSection{
    display: flex;
    justify-content: center;
    margin: 3%;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 10px rgb(183, 181, 181);
}
.ranking{
    margin: 0px 80px 0px 80px ;
}
.footerSection footer{
    text-align: center;
}
.footerSection{
    background-color: black;
}
.whiteColor{
    color: #929090;
}